.well(id='block'+block.id+'chain'+1+'well')
  form.form-horizontal

    .form-group
      label.col-sm-2.control-label(for='block'+block.id+'chain'+1+'number') Block
      .col-sm-10
        .input-group
          span.input-group-addon #
          input.form-control(id='block'+block.id+'chain'+1+'number', type='number', value=block.id, disabled)

    .form-group
      label.col-sm-2.control-label(for='block'+block.id+'chain'+1+'nonce') Nonce
      .col-sm-10
         input.form-control(id='block'+block.id+'chain'+1+'nonce', type='text', value=block.nonce, disabled)

    #state.form-group
      label.col-sm-2.control-label(for='block'+block.id+'chain'+1+'previous') Prev
      .col-sm-10
        input.form-control(id='block'+block.id+'chain'+1+'previous', type='text', value=block.previous, disabled)

    #state.form-group
      label.col-sm-2.control-label(for='block'+block.id+'chain'+1+'hash') Hash
      .col-sm-10
        input.form-control(id='block'+block.id+'chain'+1+'hash', type='text', value=block.hash, disabled)