.container
      .header #{title}
      .nav
        .auth
          button Giriş Yap
          span Vatandaş İsmi
        .menu
          a(href="/" class="active") Ana Sayfa
          a(href="/vote") Oy Ver
          a(href="/blockchain") Blokzincir