extends ./layouts/main-layout.pug

block content
  .container-fluid
    h1 Blockchain
    .row.row-horizon
      each block in blocks
        .col-xs-7
          include includes/block

  script.
    $(function() {
      var blocks = !{JSON.stringify(blocks)};
      blocks.forEach(function(block, i) {
        setup(blocks, i);
      });
    });

    function setup(blocks, index) {
      //updateHash(block, chain); //HASH BURADA HESAPLANIYOR
      updateState(blocks, index);
    }
