extends ./layouts/main-layout.pug
block content
      .parties
        .party.party-x
          .content
            h2 X Partisi
            .votes Oy Sayısı: 10000
        .party.party-y
          .content
            h2 Y Partisi
            .votes Oy Sayısı: 20000
        .party.party-z
          .content
            h2 Z Partisi
            .votes Oy Sayısı: 10000
